* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: aliceblue;
}

h1 {
    font-size: 40px;
    color: #3a7bd5;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 40px;
    color: #4848ae ;
}

p {
    margin-bottom: 30px;
    width: 75%;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}



.button {
    font-size: 15px;
    padding: 10px;
    width: 40%;
    text-align: center;
    margin-bottom: 1rem;
    background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: solid 1px #4848ae;
}

.button:hover {
    background-position: right center;
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.03);
}


#highscore {
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
}

.choice {
    display: flex;
    margin-bottom: 20px;
    border-radius: 3px;
    background:#3a7bd5;
    font-size: 20px;
    color: white;
    min-width: 40rem;

}

.choice:hover {
    cursor: pointer;
}

.choice-options {
    padding: 5px 5px;
    margin-bottom: 0px;
    margin-top: 0 auto;
}

.choice-text {
    padding: 5px;
    width: 70%;
    text-align: left;
    margin-left: 10px;
    color: white;
}

.end-quiz {
    display: block;
    text-align: center;
    margin-top: 50px;
    padding: 5px;
    margin-bottom: 25px;
}

.input {
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;

}

.initial-button {
    color: #348AC7;
}

.box {
    padding: 10px;

    
}

.high-score-list {
    list-style-type: none;
    margin-bottom: 20px;
    color: rgb(15, 14, 14);
    background-color: white;
    padding: 10px 10px; 
    opacity: 0.7;
    width: 100%
}

.scores {
    background-color: #a6bfdb;
  
}

#timer {
    font-size: 20px;
}

#question {
    margin-bottom: 25px;
    font-size: 25px;
    border-bottom: #3a7bd5 solid;
}

#incorrect {
    font-size: 20px;
    color: black;

}

#backBtn {
    color: white;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, hsl(191, 100%, 50%) 100%);
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #4848ae;
    
}

#clearBtn {
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #4848ae;
}

#backBtn:hover {
    cursor: pointer;
      transition: transform 150ms;
    transform: scale(1.03);
}

#clearBtn:hover {
    cursor: pointer;
     transition: transform 150ms;
    transform: scale(1.03);
}

#Submit {
    background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%);
    color: white;
    padding: 3px;
    border-radius: 5px;
    margin-top: 10px;
    border: solid 1px #4848ae;
}

#Submit:hover {
     cursor: pointer;
      transition: transform 150ms;
    transform: scale(1.03);
}

#results {
    font-size: 25px;
}

@media screen and (max-width: 650px) {
  p {
    margin-bottom: 30px;
    text-align: center;
    width: 100%
}

.container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

h1 {
    font-size: 40px;
    text-align: center;
    color: rgb(65, 65, 147);
    margin-bottom: 20px;
}

.button {
    font-size: 15px;
    padding: 5px;
    width: 60%;
    text-align: center;
    margin-bottom: 1rem;
    background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%);
    border-radius: 5px;
    color: white;
    border: solid rgb(58, 22, 107);
    font-weight: bold;
}

.button:hover {
    background-position: right center;
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.03);
}


#highscore {
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
}

/* media queries for quiz */

 /*styling for quiz*/
.choice {
    margin-bottom: 20px;
    border-radius: 3px;
    background: rgb(113, 113, 190);
    font-size: 20px;
    color: white;
    width: 100%;
    min-width: 20rem;

}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.choice:hover {
    cursor: pointer;
}

.choice-options {
    padding: 5px 5px;
    margin-bottom: 0px;
    margin-top: 0 auto;
}

.choice-text {
    width: 100px;
    text-align: left;
}

/* media queries for high scores */

.scores {
    background-color: #9696da;
    width: 75%;
}

}